{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Quote Maker{% endblock %}</title>

  <meta name="viewport" content="text/html; charset=utf-8" http-equiv="Content-Type">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/quote-details.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/accounting.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/quote-table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/print.css' %}">

</head>

<body>
  <h1>Welcome</h1>
  <div id="content">
    <!-- The captured HTML content will be inserted here -->
</div>
</body>

</html>