.page-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 9px;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 30px;
  color: rgb(189, 181, 181);  
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.page {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  position: absolute;
  right: 30px; /* Adjust this value to position the page number */
  bottom: 10px; /* Adjust this value to position the page number */
}

.us-phone {  
  text-align: right;  
}
