.table-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 10px;
  flex: 1;
  border-collapse: collapse;

}

.table-row,
.table-row-data {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.table-cell-amount {
  margin-right: 10px;

}

.header-row {
  font-weight: bold;
  background-color: #f0f0f0;
  color: rgb(141, 142, 144);

}

.table-cell {
  flex: 1;
  padding: 2px;
  overflow: hidden;
}

.table-cell input[type="text"],
.table-cell input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

.part-number,
.quantity,
.rate,
.amount,
.description {
  font-size: 10px;
  border: none;
  box-sizing: border-box;
  width: 100%;
}

.part-number,
.quantity {
  text-align: center;
}

.description {
  text-align: left;
}

.table-row .table-cell:nth-child(1) {
  flex: 0.1;
  text-align: center;
}

.table-row .table-cell:nth-child(2) {
  flex: 0.3;
  text-align: center;
}

.table-row .table-cell:nth-child(3) {
  flex: .15;
  text-align: center;
}

.table-row .table-cell:nth-child(4) {
  flex: 1;
  text-align: left;

}

.table-row .table-cell:nth-child(5) {
  flex: .15;
  text-align: right;
}

.table-row .table-cell:nth-child(6) {
  flex: 0.2;
  text-align: right;
}

.table-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 20px;
}

.add-button,
.print-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.add-button:hover,
.print-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #ae3d52;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #660711;
}


/* Style for the select element */
.part-number {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 10px;
  padding: 0;
  /* Adjust padding as needed */
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;

  /* Remove margin to prevent layout shift */
}

.no-arrows {
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;
  /* Safari and Chrome */
}

.section-divider {
  margin: 0px;
  padding: 0px;
  border: none;
}

.section-cell {
  background-color: #b3daf5;
  height: 12px;
  text-align: left;
}

.section-cell input {
  border: none;
  outline: none;
  background: none;
}

.notes-divider {
  margin: 0px;
  padding: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  font-style: italic;
  font-size: 10px;
  text-align: left;
}

.notes {
  font-weight: bold;
}