{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Quote Maker{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/quote-details.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/accounting.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/quote-table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/print.css' %}">

</head>

<body>
  <header class="main-header" id="ma
    <div class="main-header-logo">
      <a href="index.html" class="header-link">
        <img src="{% static 'images/pemtech-logo.svg' %}" class="logo">
      </a>
    </div>
    <div class="company-details">
      <p><strong>PEMTECH Inc</strong></br>12144 Dairy Ashford Road</br>Sugar Land TX 77478 United States</p>
    </div>
    <div class="title">
      QUOTATION
    </div>
  </header>
  <main class="page-main" id="page-main">
    {% block content %}{% endblock %}
  </main>
  <footer class="page-footer" id="page-footer">
    <div class="footer-content">
      <div class="footer-item pemtech-website">
        <a href="https://pem-tech.com" class="pemtech-link">
          https://pem-tech.com
        </a>
      </div>
      <div class="footer-item pemtech-email">Email: info.me@pem-tech.com</div>
      <div class="footer-item pemtech-phone">Phone: +97142585343</div>
    </div>
    <div class="page"></div>
    <div class="us-phone">
      <p><strong>Toll Free:</strong> 800-379-3894<br><Strong>Phone:</Strong> 281-494-2079<br><strong>Fax:</strong>
        281-494-2167</p>
    </div>
  </footer>


  <script type="module" src="{% static 'scripts/main.js' %}"></script>
  <script type="module" src="{% static 'scripts/add-row.js' %}"></script>
  <script type="module" src="{% static 'scripts/checkbox.js' %}"></script>
  <script type="module" src="{% static 'scripts/print.js' %}"></script>
  <script type="module" src="{% static 'scripts/print-pdf.js' %}"></script>


</body>

</html>