.main-input {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  gap: 10px;
  /* Adjust gap between flex items */
  margin-bottom: 20px;
}

.left-input,
.right-input {
  background-color: transparent;
  width: 350px;
  min-width: 200px;
  font-size: 10px;
}

.right-input {
  width: 250px;
}

.input {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  /* Allow items to grow and maintain equal width */
  min-width: 0;
  /* Reset min-width to ensure flexibility */
}

.input label {
  margin-right: 5px;
  min-width: 70px;
  text-align: right;
  font-weight: bold;
  color: rgb(173, 167, 167);
}

.input input {
  flex: 1;
  font-size: 10px;
  /* Allow input to stretch */
  border: none;
}

#quote-no,
label[for="quote-no"] {
  font-size: 14px;
  font-weight: bold;
}

#quote-no {
  width: 100px;
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {

  .left-input,
  .right-input {
    width: 100%;
    /* Full width for small screens */
    min-width: 0;
    /* Reset min-width */
  }
}